
.DS_STORE
node_modules
*~
*.pyc
static
.grunt
_SpecRunner.html
__benchmarks__
dist/
build/
coverage/
.module-cache
*.gem
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
/semantic.json
/semantic
venv/
tests/python/venv/
yarn-error.log
venv

contracts/hardhat-dependency-compiler/
records.json
stats.json
.awcache
.eslintcache
.stylelintcache
cache/
out/
.env
deployment/deploy_parameters.json
/src/deployment/genesis.json
artifacts/*
cache_hardhat/
.openzeppelin/
deployment/deploy_output.json

