[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/zkevm-contracts"]
	path = lib/zkevm-contracts
	url = https://github.com/RealityETH/zkevm-contracts
[submodule "lib/openzeppelin-upgrades"]
	path = lib/openzeppelin-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-upgrades
[submodule "lib/openzeppelin-contracts-upgradeable"]
	path = lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
