
.DS_STORE

docs/*
test/*
travscripts/*
.gitattributes
.solcover.js
.travis.yml
*.pyc
static
.grunt
_SpecRunner.html
__benchmarks__
coverage/
*.gem
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
/semantic.json
/semantic
yarn-error.log

records.json
stats.json
.awcache
.eslintcache
.stylelintcache